@import url('css/normalize.css');

body {
    font-family: Montserrat;
}

$maxWidth: 1440px;
$maxWidthContainer: 1140;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //Внутри контейнера
        #{$property}: $startSize + "px";
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        //По всей ширине
        #{$property}: $startSize + "px";
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else {
        //Всегда
        #{$property}: calc(#{$minSize + px} + (#{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320})));
    }
}

._container {
    max-width: 1140px;
    margin: 0 auto;
}
._ibg {
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    position: relative;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

._bigTitle{
    text-align: center;
    font-size: 19.5px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #383122;
}

._tabs__items{
    & a {
        font-size: 14.25px;
        line-height: 10.5px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #2d2b27;
    }
}

._logo {
    text-align: center;
}

._logo-title {
    @include adaptiv-value("font-size", 37, 20, 0);
    @include adaptiv-value("line-height", 40, 21, 0);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000000;
}

._logo-subtitle {
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000000;
}

._arrowsOfSlider{
    border-radius: 50%;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    padding: 10px 15px;
}

//-------------GRID--------------------------

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.header {
    grid-area: header;
    width: 100%;
    padding: 20px 0;
}
.main {
    grid-area: main;
    position: relative;
    width: 100%;
}
.footer {
    grid-area: footer;
    width: 100%;
}

//--------------HEADER---------------------

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
.header__logo {
}
.header__title {
}
.header__subtitle {
}
.header__nav {
    flex: 1 1 auto;
}
.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__item {
}
.header__item-link {
    font-size: 12px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #171717;
    text-transform: uppercase;
}
.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__cart,
.header__menu {
    &:not(:last-child) {
        margin: 0 18.75px 0 0;
    }
}

//----------SEARCH-FORM-----------

.header__search-form {
    display: inline-flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    &:hover {
        border: 1px solid #000;
    }
    &:hover > .search-form__txt{
        width: 240px;
        padding: 10px;
    }
    &:not(:last-child) {
        margin: 0 18.75px 0 0;
    }
}
.search-form__txt {
    font-size: 16px;
    letter-spacing: 0.14em;
    color: #000000;
    width: 0;
    transition: all 0.3s ease-in-out;
    border: none;
    &::placeholder{
        font-size: 14px;
        letter-spacing: 0.14em;
        color: #000000;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
    }
}
.search-form__search-btn {
    background-color: transparent;
    padding: 7px;
}
.search-form__search-image {
    width: 15px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

//---------PAGE--------------------

.main__offer-slider{

}

.main__offerBanners{

}

.main__category{

}

.main__featuredProducts {
    padding: 50px 0;
}

.main__justBanner {
    padding: 0 20px;
    &:not(:last-child) {
        margin: 0 0 77.25px 0;
    }
}

.main__blogs{

}

//-----------OFFER-SLIDER-------------------
.offer-slider {
    min-height: 100vh;
    width: 100%;
    min-width: 0;
    position: relative;
}
.swiper {
}
.offer-slider__wrapper {
}
.swiper-wrapper {
}
.offer-slider__slide {
    position: relative;
}
.swiper-slide {
}

.offer-slider__background-image{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

//---------------OFFER-SLIDER-CONTENT-------------------

.offer-slider__content {
    position: absolute;
    width: 55%;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 50px 0;
}

.offer-slider__title {
    font-size: 87.6px;
    @include adaptiv-value("font-size", 87.6, 25, 1);
    @include adaptiv-value("line-height", 80.25, 25, 1);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #171717;
    &:not(:last-child) {
        margin: 0 0 30.75px 0;
    }
}
.offer-slider__number-name {
    color: #171717;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin: 0 0 27.75px 0;
    }
}
.offer-slider__number {
    font-size: 13.5px;
    font-weight: 600;
    &:not(:last-child) {
        margin: 0 22.5px 0 0;
    }
}
.offer-slider__name {
    font-size: 10.5px;
    font-weight: 400;
    letter-spacing: 0.08em;
}
.offer-slider__buttons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
        margin: 0 0 30px 0;
    }
}
.offer-slider__readmore-btn {
    border-radius: 50%;
    border: 1px solid #000;
    width: 34px;
    height: 34px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #fff;
        border: 1px solid #fff;
    }
}
.offer-slider__like-btn {
    border-radius: 50%;
    border: 1px solid #000;
    width: 34px;
    height: 34px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #fff;
        border: 1px solid #fff;
    }
}
.offer-slider__share-btn {
    border-radius: 50%;
    border: 1px solid #000;
    width: 34px;
    height: 34px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #fff;
        border: 1px solid #fff;
    }
}
.offer-slider__description {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #535353;
    max-width: 300px;
    &:not(:last-child) {
        margin: 0 0 30px 0;
    }
}
.offer-slider__shop-btn {
}

//----------OFFER-ARROWS-------------


.swiper-button-prev {
    transition: all 0.3s ease-in-out;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.swiper-button-next {
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content:'';
}


.offer-slider__button-prev {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.18em;
        color: #fff;
        position: absolute;
        left: initial;
        @include adaptiv-value('right', 100, 50, 0);
        @include adaptiv-value('top', 80, 40, 0);
}


.offer-slider__button-next {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.18em;
        color: #000;
        @include adaptiv-value('right', 100, 50, 0);
        @include adaptiv-value('top', 120, 70, 0);
        max-width: 40px;
}
.offer-slider-button-prev__text {
    &:not(:last-child) {
        margin: 0 0 5px 0;
    }
}
.offer-slider-button-prev__icon {
}
.offer-slider-button-next__text {
    &:not(:last-child) {
        margin: 0 0 5px 0;
    }
}
.offer-slider-button-next__icon {
}

//-------------OFFER-NON-SLIDER-CONTENT-----------------------

.offer-non-slider__content{
    min-height: 100vh;
    width: 100%;
    min-width: 0;
    position: relative;
}
.offer__socials {
    position: absolute;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    height: 100%;
    @include adaptiv-value('max-width', 70, 20, 0);
    position: absolute;
}
.offer-socials {
}
.offer-socials__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
        margin: 0 0 80px 0;
    }
}
.offer-socials__icon {
    position: relative;
    z-index: 6;
    &:not(:last-child) {
        margin: 0 0 43px 0;
    }
}
.offer-socials__text {
    rotate: -90deg;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: #000000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

//--------OFFER-SPECIAL------------------
.offer__special-offer {
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.special-offer__image{
    max-width: 153.25px;
    max-height: 300px;
}

.special-offer__box {
    max-width: 280px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.special-offer__title {
    font-size: 28.275px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    &:not(:last-child) {
        margin: 0 0 19.5px 0;
    }
}
.special-offer__text {
    font-family: 'Open Sans';
    font-size: 15.6px;
    color: #fff;
    &:not(:last-child) {
        margin: 0 0 24.75px 0;
    }
}
.special-offer__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
        margin: 0 0 48px 0;
    }
}

.special-offer__price{
    display: flex;
    align-items: center;
}

.special-offer__number_line-through {
    font-size: 16.5px;
    letter-spacing: -0.02em;
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #c0c0c0d0;
    font-weight: 400;
    &:not(:last-child) {
        margin: 0 9.75px 0 0;
    }
}

.special-offer__number{
    font-size: 28.725px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #fff;
}
.special-offer__shop-btn {
}
._shop-btn {
    font-size: 10px;
    letter-spacing: 0.06em;
    padding: 15px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline;
}

._shop-btn_black-background{
    color: #fff;
    background-color: #000;
    transition: 0.3s;
    &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        color: #000;
        transform: scale(1.1);
    }
}

._shop-btn_white-background{
    color: #121212;
    background-color: #f3ebdc;
    transition: 0.3s;
    &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #a1a1a1;
        color: #f3ebdc;
        transform: scale(1.1);
    }
}


//---------TIME-COUNT--------------

.special-offer__time-count {
    margin: 0 auto;
    max-width: 255px;
    text-align: center;
    max-height: 80px;
}
.time-count {
}
.special-offer-time-count__title {
    font-size: 28.275px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    &:not(:last-child) {
        margin: 0 0 19.5px 0;
    }
}
.time-count__title {
}
.special-offer-time-count__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
        margin: 0 0 47.25px 0;
    }
}
.time-count__content {
}
.special-offer-time-count__item {
    display: flex;
    width: 68.25px;
    height: 78.75px;
    background-color: #ffffff;
    border-radius: 20px;
    flex: 0 1 33.333%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:not(:last-child) {
        margin: 0 15px 0 0;
    }
}
.time-count__item {
}
.time-count__hours {
}
.time-count__val {
    font-size: 28.725px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2d2b27;
}
.time-count__text {
    font-size: 8.325px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #2d2b27;
}
.time-count__minutes {
}
.time-count__seconds {
}


//-----------OFFER-BANNERS-------------------------

.offerBanners {
}
.offerBanners__container {
    margin: 0 auto;
    max-width: 918.25px;
    padding: 0 20px;
}
.offerBanners__tabs {
    &:not(:last-child) {
        margin: 0 0 18.75px 0;
    }
}
.offerBanners-tabs__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 10px;
}
.offerBanners-tabs__item {
    text-decoration: none;
    z-index: 1;
        & span{ //Отображение названия вкладок
        position: relative;
        z-index: 5;
    }
}
.offerBanners-tabs__body {
}
.offerBanners-tabs__blocks {
    align-items: flex-start;
    justify-content: space-between;
    display: none;
    &:target{ //При нажатии появляется блок
        display: flex;
    }
    flex-wrap: wrap;
    margin: 0 auto;
}
.offerBanners-tabs__block-column{
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin: 0 0 18px 0;
    }
}

.offerBanners-tabs__block-column_narrowWidth{
    width: 207.75px;
}

.offerBanners-tabs__block-column_wideWidth{
    width: 352.5px;
}

.offerBanners-tabs__block-column_middleWidth{
    width: 278.25px;
}

.offerBanners-tabs__block-item {
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
        margin: 0 0 16.5px 0;
    }
}

.offerBanners-tabs__block-item_verticalMiddle {
        max-width: 207.75px;
        max-height: 249.75px;
}
.offerBanners-block-item__background-image {
    width: 100%;
    height: 100%;
}
.offerBanners-block-item__subtitle {
    @include adaptiv-value("font-size", 14.5, 30, 0);
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.075em;
    color: #2d2b27;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include adaptiv-value("top", 198.75, 50, 0);
    width: 100%;
    padding: 0 10px;
}
.offerBanners-tabs__block-item_horizontalSmall {
    max-width: 207.75px;
    max-height: 128.25px;
}
.offerBanners-tabs__block-item__background-image {
}
.offerBanners-tabs__block-item_veticalBig {
    max-width: 352.5px;
    max-height: 394.5px;
}
.offerBanners-block-item__box {
    position: absolute;
    top: 36.25px;
    left: 26.25px;
    @include adaptiv-value("max-width", 130, 250, 0);
    & .offerBanners-block-item__title {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.075em;
        color: #2d2b27;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            margin: 0 0 22.25px 0;
        }
    }
}
.offerBanners-block-item__messageBox-bottom{
    font-size: 11px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 30px;
    background-color: #1a1a1a;
    color: #fff;
    position: absolute;
    right: 12px;
    top: 12px;
    &::after {
        content: " ";
        position: absolute;
        left: 0px;
        bottom: -10px;
        border-top: 10px solid black;
        border-right: 10px solid transparent;
        border-bottom: none;
    }
}
.offerBanners-block-item__nameOfOutfit {
    &:not(:last-child) {
        margin: 0 0 18.75px 0;
    }
}
.offerBanners-block-item__shop-btn {
}
.offerBanners-tabs__block-item_horizontalMiddle {
    max-width: 278.25px;
    max-height: 194.25px;
}
//--------JUST-BANNER--------------

.offerBanners__justBanner {
    position: relative;
    @include adaptiv-value("max-height", 187.5, 200, 1);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.justBanner {
}
.justBanner__background-image {
    position: absolute;
    max-width: 878.25px;
    height: 100%;
    z-index: -1;
}
.justBanner__box{
    max-width: 500px;
    text-align: center;
    padding: 30px;
}

.justBanner__title {
    text-transform: uppercase;
    @include adaptiv-value("font-size", 19.5, 16, 0);
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #2d2b27;
    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 16.5, 10, 0);
    }
}
.justBanner__subtitle {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.4em;
    color: #1a1a1a;
    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 26.25, 10, 0);
    }
}
.justBanner__seeFull-btn {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.18em;
    color: #2b2b2b;
    letter-spacing: 0.06em;
    padding: 18px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline;
    background-color: #fff;
}

//---------CATEGORY-SLIDER----------------------------

.category {
}
.category__container {
    max-width: 1080px;
    margin: 0 auto;
}
.category__title-box {
    padding: 46px 0;
    text-align: center;
}
.category__title {
    &:not(:last-child) {
        margin: 0 0 20.25px 0;
    }
}
.category__subtitle {
    @include adaptiv-value("font-size", 14, 16, 0);
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.4em;
    color: #1a1a1a;
}

.category__slider-box {
    position: relative;
}
.category-slider {
    max-width: 872.25px;
}
.swiper {
}
.category-slider__wrapper {
    max-width: 872.25px;
}
.swiper-wrapper {
}
.category-slider__slide {
    max-width: 276.75px;
    max-height: 362.25px;
    position: relative;
}
.swiper-slide {
}
.category-slider__background-image {
    max-width: 276.75px;
    max-height: 362.25px;
    position: relative;
}
.category-slider__shop-btn {
    position: absolute;
    bottom: 25px;
    left: 25%;
}

.category-slider__button-prev,
.category-slider__button-next {
    rotate: -90deg;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353535;
    padding: 0 50px;
    background-color: rgba(95,95,95,0.5);
}

//-----------FEATURED-PRODUCTS---------------------------

.featuredProducts {
}
.featuredProducts__container {
    max-width: 998.25px;
    margin: 0 auto;
}
.featuredProducts__title {
}
.featuredProducts__tabs {
}
.featuredProducts-tabs__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}
.featuredProducts-tabs__item {
    text-decoration: none;
    z-index: 1;
        & span{ //Отображение названия вкладок
        position: relative;
        z-index: 5;
    }
}
.featuredProducts__slider-box {
    width: 100%;
    position: relative;
    &:not(:last-child) {
        margin: 0 0 50px 0;
    }
}
.featuredProducts-slider {
    max-width: 872.25px;
}
.featuredProducts-slider__wrapper {
    max-width: 872.25px;
}
.featuredProducts-slider__slide {
    max-width: 204px;
}
.featuredProducts-slider__background-image {
    max-width: 204px;
    max-height: 291.75px;
    &:not(:last-child) {
        margin: 0 0 22.5px 0;
    }
}
.featuredProducts-slider__slideDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
}
.featuredProducts-slider__title {
    font-size: 15px;
    line-height: 11px;
    font-weight: 700;
    color: #1a1a1a;
    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.featuredProducts-slider__brandName {
    font-size: 15px;
    line-height: 11px;
    font-weight: 400;
    color: #898989;
    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.featuredProducts-slider__price-box {
    display: flex;
    align-items: center;
}
.featuredProducts-slider__old-price {
    text-decoration: line-through;
    text-decoration-color: #c0c0c0d0;
    &:not(:last-child) {
        margin: 0 10px 0 0;
    }
}
.featuredProducts-slider__new-price {
    font-size: 15px;
    line-height: 11px;
    font-weight: 700;
    color: #1a1a1a;
}
.featuredProducts-slider__button-prev{
    border-radius: 50%;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    padding: 10px 15px;
    & img{
        margin: 0 5px 0 0;
    }
}
.featuredProducts-slider__button-next {
    & img{
        margin: 0 -5px 0 0;
    }
}

.featuredProducts__showMore-btn{
    display: block;
    color: #1a1a1a;
    border: 2px solid #d9c8aa;
    background-color: transparent;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: #d9c8aa;
        background-color: #1a1a1a;
        border: 2px solid #1a1a1a;
        transform: scale(1.1);
    }
}

//---------MAIN-JUST-BANNER--------------------
.justBanner {
}
.justBanner__container {
    margin: 0 auto;
    max-width: 918.25px;
    position: relative;
    display: flex;
    justify-content: start;
}
.main__justBanner .justBanner__box {

}
.justBanner__signUpNow-btn {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.18em;
    letter-spacing: 0.06em;
    padding: 18px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline;
}

//----------BLOGS-SLIDER--------------------------

.blogs{

}
.blogs__container {
    max-width: 998.25px;
    margin: 0 auto;
    position: relative;
}
.blogs__title {
    &:not(:last-child) {
        margin: 0 0 45.75px 0;
    }
}
.blogs__slider-box {
    width: 100%;
}
.blogs-slider {
    max-width: 872.25px;
}
.blogs-slider__wrapper {
    max-width: 872.25px;
}
.blogs-slider__slide {
    max-width: 429px;
}
.blogs-slider__background-image {
    max-width: 429px;
    max-height: 285.75px;
}
.blogs-slider__content {
    margin: -10% auto 0 auto;
    padding: 18px 10px 12.75px 10px;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 4;
    max-width: 353.5px;
}
.blogs-slider__title {
    font-size: 13.35px;
    line-height: 12.75px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #2d2b27;
    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.blogs-slider__subtitle {
    font-family: 'Open Sans';
    font-size: 10.5px;
    line-height: 18px;
    font-style: italic;
    color: #7d7d7d;
}
.blogs-slider__button-prev {
    & img{
        margin: 0 5px 0 0;
    }
}
.blogs-slider__button-next {
    & img{
        margin: 0 -5px 0 0;
    }
}

//-------------FOOTER----------------------------

.footer {
    background-color: #f8f8f8;
    padding: 182.25px 0 0 0;
    margin: -90px 0 0 0;
}
.footer__container{
    margin: 0 auto;
    padding: 0 20px;
}

.footer__content {
    @include adaptiv-value("max-width", 878.25, 320, 0);
    margin: 0 auto;
    display: flex;
    padding: 0 0 75px 0;
}
.footer__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer__item {
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 150px;
    & > a{
        font-size: 14px;
        font-weight: 300;
        color: #727272;
    }
    &:not(:last-child) {
        margin: 0 0 30px 0;
    }
}
.footer__item_contacts{
    justify-self: end;
}
.footer__title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #575153;
    &:not(:last-child) {
        margin: 0 0 30.75px 0;
    }
}
.footer__link {
    &:not(:last-child) {
        margin: 0 0 14.25px 0;
    }
}
.footer__phone {
    & span{
        font-weight: 700;
        color: #000;
    }
    &:not(:last-child) {
        margin: 0 0 14.25px 0;
    }
}
.footer__email {
    & span{
        font-weight: 700;
        color: #000;
    }
    &:not(:last-child) {
        margin: 0 0 30px 0;
    }
}
.footer__address {
    & span{
        font-weight: 700;
        color: #000;
    }
}

//---------COPYRIGHT-------------------
.footer__copyright-box {
    text-align: center;
    margin: 0 auto;
    padding: 35px 0;
    background-color: #fff;
}
.footer__copy {
    &:not(:last-child) {
        margin: 0 0 36px 0;
    }
}
.footer__logo {
}
.footer__logo-title {
}
.footer__logo-subtitle {
}

//------------ADAPTIV-----------------------
@media (max-width: 1140px) {
    .offerBanners-tabs__blocks {
        width: 100%;
    }
    ._shop-btn {
        font-size: 10px;
        padding: 15px 25px;
    }
}
@media (max-width: 1080px) {
    .featuredProducts__slider-box {
        max-width: 977.25px;
    }
    .featuredProducts__container {
        max-width: 773.25px;
    }
    .featuredProducts-slider {
        max-width: 647.25px;
    }
    .featuredProducts-slider__wrapper {
        max-width: 647.25px;
    }
    .blogs__container {
        max-width: 549.75px;
    }
    .blogs-slider {
        max-width: 429px;
    }
    .blogs-slider__wrapper {
        max-width: 429px;
    }
    .category-slider {
        max-width: 574.5px;
    }
    .category-slider__wrapper {
        max-width: 574.5px;
    }
    .category__container {
        max-width: 782.25px;
    }
}
@media (max-width: 992px) {
    .offerBanners-tabs__blocks {
        max-width: 578.25px;
    }
    .offerBanners-tabs__block-column:last-child{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .offerBanners-tabs__block-item_horizontalMiddle {
        width: 50%;
    }
    .offer__special-offer{
        display: none;
    }
    .header__nav{
        display: none;
    }
    .offer__socials{
        display: none;
    }
    .footer__item {
        flex: 0 1 33.333%;
    }
    .featuredProducts__slider-box {
        max-width: 773.25px;
    }
    .featuredProducts__container {
        max-width: 569.25px;
    }
    .featuredProducts-slider {
        max-width: 422.25px;
    }
    .featuredProducts-slider__wrapper {
        max-width: 422.25px;
    }
}

@media (max-width: 767px) {
    .category-slider {
        max-width: 276.75px;
    }
    .category-slider__wrapper {
        max-width: 276.75px;
    }
    .category__container {
        max-width: 484.5px;
    }
    .offer-slider__content {
        width: 100%;
        padding: 50px;
    }
    .offer-slider__background-image{
        opacity: 0.5;
    }
    .offer-slider__description{
        max-width: 600px;
    }
    .offerBanners-tabs__blocks{
        align-items: center;
        flex-direction: column;
    }
    .offerBanners-tabs__block-column{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .offerBanners-tabs__block-column:last-child{
        flex-direction: column;
    }
    .offerBanners-tabs__block-item{
        min-width: 100%;
    }
}

@media (max-width: 612px) {
    .offer-slider__button-prev,
    .offer-slider__button-next{
        display: none;
    }
    .blogs-slider__button-prev,
    .blogs-slider__button-next {
        display: none;
    }
    .header__search-form {
        &:hover > .search-form__txt{
            width: 180px;
        }
    }
    .offerBanners-block-item__box {
    }
    .featuredProducts__slider-box {
        max-width: 569.25px;
    }
    .featuredProducts__container {
        max-width: 365.25px;
    }
    .featuredProducts-slider {
        max-width: 204px;
    }
    .featuredProducts-slider__wrapper {
        max-width: 204px;
    }
}
@media (max-height: 592px) {
    .offer__special-offer{
        display: none;
    }
    ._shop-btn {
        font-size: 12px;
    }
}
@media (max-width: 512px) {
    .justBanner__background-image{
        opacity: 0.5;
    }
    .offerBanners__justBanner,
    .justBanner__container {
        justify-content: center;
    }
    .blogs-slider {
        @include adaptiv-value("max-width", 450, 300, 0);
    }
    .blogs-slider__wrapper {
        @include adaptiv-value("max-width", 450, 300, 0);
    }
    .blogs-slider__content {
        @include adaptiv-value("max-width", 400, 250, 0);
    }
    .offerBanners-block-item__background-image {
        opacity: 0.8;
    }
}

@media (max-width: 480px) {
    .category-slider__button-next,
    .category-slider__button-prev{
        display: none;
    }
    .header__container {
        flex-direction: column;
    }
    .header__logo{
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }
    .header__search-form {
        &:hover > .search-form__txt{
            width: 280px;
        }
    }
    .footer__items{
        justify-content: space-between;
    }
}

@media (max-width: 429px){
    .footer__items{
        justify-content: center;
    }
    .footer__item {
        flex: 0 1 100%;
        text-align: center;
    }
}